<g fill="#DAE5D8" fill-opacity="1.00" stroke="None">
<path d="
M 72.00 55.00
C 73.00 54.37 73.19 53.78 74.00 53.00
C 72.70 53.20 72.80 54.32 72.00 55.00 Z"/>
</g>
<g fill="#DAE5D8" fill-opacity="1.00" stroke="None">
<path d="
M 67.00 57.00
C 67.00 57.00 66.48 56.91 66.00 57.00
C 65.68 57.06 64.22 57.82 64.00 58.00
C 61.82 60.06 58.99 61.69 57.00 64.00
C 56.83 64.19 55.60 66.60 55.00 66.00
C 54.98 67.50 66.36 74.48 68.00 76.00
C 68.55 76.51 69.41 76.63 70.00 77.00
C 70.31 77.20 70.80 77.68 71.00 78.00
C 81.14 84.44 90.44 92.60 101.00 98.00
C 100.38 101.42 97.10 103.69 96.00 107.00
C 94.71 108.63 95.34 108.33 94.00 108.00
C 90.74 108.06 86.90 102.54 83.92 101.08 C 80.94 99.62 76.76 96.02 74.00 94.00
C 73.18 93.40 72.73 92.62 72.00 92.00
C 71.42 91.51 70.60 91.38 70.00 91.00
C 69.69 90.80 69.14 90.35 69.00 90.00
C 68.82 89.55 67.34 89.23 67.00 89.00
C 59.32 83.74 51.43 78.58 44.00 73.00
C 43.57 72.83 42.48 73.09 42.00 73.00
C 46.63 76.09 51.25 81.37 56.00 84.00
C 56.76 84.42 58.12 84.49 59.00 85.00
C 60.06 85.61 60.25 86.28 61.00 87.00
C 61.49 87.07 62.00 87.00 62.00 87.00
C 63.24 87.19 63.32 88.42 64.00 89.00
C 64.64 89.40 65.39 89.63 66.00 90.00
C 69.24 91.97 72.09 94.98 75.00 97.00
C 77.81 98.95 83.04 102.68 85.77 104.23 C 88.50 105.78 94.04 112.02 96.00 110.00
C 95.96 110.00 96.00 109.00 96.00 109.00
C 96.19 107.78 97.38 107.65 98.00 107.00
C 98.97 105.65 99.26 104.27 100.00 103.00
C 100.42 101.64 101.80 100.67 103.00 100.00
C 91.93 88.90 77.00 79.48 64.00 70.00
C 62.47 68.89 58.95 68.02 58.00 66.00
C 57.43 64.80 57.51 64.97 59.00 64.00
C 59.32 63.68 60.55 63.28 61.00 63.00
C 61.73 62.38 62.18 61.60 63.00 61.00
C 65.30 59.32 67.81 57.64 70.00 56.00
C 70.39 55.49 70.60 54.57 71.00 54.00
C 69.77 54.93 68.42 56.26 67.00 57.00 Z"/>
</g>
<g><path style="opacity:1" fill="#fdfefb" d="M 73.5,9.5 C 73.5,31.5 73.5,53.5 73.5,75.5C 63.9759,68.9076 54.3092,62.5742 44.5,56.5C 42.2297,54.0252 39.563,52.0252 36.5,50.5C 33.5707,48.0184 30.5707,45.5184 27.5,43C 28.0442,42.2828 28.7109,41.7828 29.5,41.5C 34.3224,37.589 39.3224,33.9224 44.5,30.5C 53.9898,23.2552 63.6565,16.2552 73.5,9.5 Z"/></g>
<g><path style="opacity:1" fill="#fcfdfa" d="M 11.5,16.5 C 17.1895,19.2078 22.8562,21.8744 28.5,24.5C 28.5,25.1667 28.5,25.8333 28.5,26.5C 25.3095,29.8851 21.6428,32.5518 17.5,34.5C 15.5,35.5 13.5,36.5 11.5,37.5C 11.5,30.5 11.5,23.5 11.5,16.5 Z"/></g>

<g><path style="opacity:1" fill="#e6eab2" d="M 39.5,17.5 C 40.1667,17.5 40.8333,17.5 41.5,17.5C 38.1667,20.1667 34.8333,22.8333 31.5,25.5C 30.609,26.1098 29.609,26.4431 28.5,26.5C 28.5,25.8333 28.5,25.1667 28.5,24.5C 32.4394,22.5538 36.106,20.2205 39.5,17.5 Z"/></g>
<g><path style="opacity:1" fill="#daebb4" d="M 17.5,34.5 C 16.5,35.8333 15.5,37.1667 14.5,38.5C 11.6596,39.4234 9.32627,41.0901 7.5,43.5C 10.1982,45.841 12.8648,48.1743 15.5,50.5C 14.1667,50.1667 12.8333,49.8333 11.5,49.5C 9.42453,47.2812 7.0912,45.2812 4.5,43.5C 6.85285,41.4773 9.18618,39.4773 11.5,37.5C 13.5,36.5 15.5,35.5 17.5,34.5 Z"/></g>

<g><path style="opacity:1" fill="#fcfdf8" d="M 11.5,49.5 C 12.8333,49.8333 14.1667,50.1667 15.5,50.5C 19.1994,53.3497 23.1994,55.683 27.5,57.5C 30.5,60.1667 33.5,62.8333 36.5,65.5C 33.9587,64.3118 31.4587,62.9784 29,61.5C 23.472,64.8423 17.6387,67.509 11.5,69.5C 11.5,62.8333 11.5,56.1667 11.5,49.5 Z"/></g>
<g><path style="opacity:1" fill="#fefefd" d="M 40.5,69.5 C 44.8507,72.1935 49.1841,74.8602 53.5,77.5C 58.1141,80.1173 62.4474,83.1173 66.5,86.5C 47.1667,86.5 27.8333,86.5 8.5,86.5C 8.5,86.1667 8.5,85.8333 8.5,85.5C 14.4193,83.8737 19.7526,81.2071 24.5,77.5C 30.1168,75.3583 35.4501,72.6916 40.5,69.5 Z"/></g>

<g><path style="opacity:1" fill="#e2f2c0" d="M 36.5,65.5 C 37.1667,65.5 37.8333,65.5 38.5,65.5C 43.6825,69.2597 48.6825,73.2597 53.5,77.5C 49.1841,74.8602 44.8507,72.1935 40.5,69.5C 38.8608,68.5275 37.5274,67.1942 36.5,65.5 Z"/></g>

<g><path style="opacity:1" fill="#fbf9f7" d="M -0.5,77.5 C -0.166667,77.5 0.166667,77.5 0.5,77.5C 1.90088,80.6339 3.56755,83.6339 5.5,86.5C 3.5,86.5 1.5,86.5 -0.5,86.5C -0.5,83.5 -0.5,80.5 -0.5,77.5 Z"/></g>
<g><path style="opacity:1" fill="#f8fcf3" d="M 73.5,77.5 C 73.5,80.5 73.5,83.5 73.5,86.5C 71.5,86.5 69.5,86.5 67.5,86.5C 69.2651,83.2911 71.2651,80.2911 73.5,77.5 Z"/></g>

  <%= link_to "Show this cat", @cat, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to cats", cats_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
<h1 class="font-bold text-4xl">Categos</h1>
<%= link_to "New cat", new_cat_path,
class: "rounded-lg py-3 px-5 bg-blue-600
text-white block font-medium" %>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
  <li><a href="#">Sports</a></li>
  <li><a href="#">Pop Culture</a></li>
  <li><a href="#">Tazos</a></li>
  <li><a href="#">Woolworths Collectibles</a></li>
  </ul>
</div>
<%= render @cats %>
<select id="cat" name="cat_id">
  <% @cats.each do |cat| %>
    <option value="<%= cat.id %>">
      <%= cat.name %>
    </option>
  <% end %>
</select>
<select id="subcat" name="subcat_id" disabled></select>
<%= select_tag "parent_cat",
  options_from_collection_for_select(
  @cats, "id", "name"), :prompt => "Select a parent cat",
  :onchange => "update_subscategos_div(this.value)" %>
<div id="versionsDiv">
</div>
<hr />
<% @cats.each do |cat| %>
<table>
<tr>
  <td>
    <h5>
      <strong class="block font-medium mb-1">
        <a href="/cats/<%= cat.id %>",
        class="nav-link"><%= cat.name %></a>
      </strong>
    </h5>
  </td>
</tr>
<% end %>
</table>
